html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}

.jumbotron-extend {
  background: url(storage/image/top_image.jpg) no-repeat center center;
  background-size: cover;
}

.site-name {
  font-size: 90pt;
  color: #14e64b;
  font-style: italic; //斜体
  font-weight: bold;
  opacity: .8;
  text-shadow: 0 5px 5px black;
  font-family: 'Times New Roman', serif;
}

.page-title {
  font-size: 40px;
  font-style: italic; //斜体
  font-family: 'ＭＳ Ｐゴシック', serif;
}

.py-4 {
  flex: 1;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #cdcdcd;
    text-align: center;
    
    .text-muted {
       margin: 20px;
    }
}


.btn {
  margin: 5px;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}


.headline {
  .caption {
     position: relative;
     width: 350px;
    .image {
      img {
     width: 100%;        
      }
     }
    .title {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        h1 {
      color: #fff;
      font-size: 1.2em;
        }
    }
    .body {
        font-size: 0.8em;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
        img {
      width: 250px;
      }
    }
  }
} 

