$ipad-width: 768px; //iPad以上の時
@mixin media-query($device) {
  @media screen and (min-width: $device) {
      @content;
  }
}

.top_image {
  background-image: url('storage/image/top_image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-query($ipad-width){
    margin-top: 0;
  }
  margin-bottom: 10px;
}

.top_image h1{
  font-size: 100px;
  text-align: center;
  @include media-query($ipad-width){
    font-size: 150px;
  }
  color: #fff;
  font-style: italic; //斜体
  font-weight: bold;
  text-shadow: 0 5px 5px black;
  font-family: 'Times New Roman', serif;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  
}

.page-title {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  @include media-query($ipad-width){
    font-size: 40px;
    text-align: center;
  }
  margin-left: 10px;
  letter-spacing: 3px;
}


.about {
  margin: 10px 0;
}

.about h2 {
  font-size: 20px;
    @include media-query($ipad-width){
      font-size: 40px;
      text-align: center;
    }
  font-family: 'Times New Roman', serif;
  letter-spacing: 4px;
  margin-bottom: 10px;
  border-bottom: #ccc solid 1.5px;
}

.about .letter {
  letter-spacing: -2px;
}

.about p{
  font-size: 13px;
  @include media-query($ipad-width){
    font-size: 20px;
  }
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 0;
}

.new-post {
  width: 100%;
  flex-wrap: wrap; 
  @include media-query($ipad-width){
    display: flex; //並列
    flex-wrap: nowrap; //1列表示
  }
}  

.card {
  background: #fff;
  width: 100%; 
  @include media-query($ipad-width){
    width: 32%;//3分割
  }
  border: none;
  margin-bottom: 5%;
  @include media-query($ipad-width){
    margin-right: 2%;
    &:last-child { //最後のカードだけ0に
    margin-right: 0;
  }
  }
}

.card-img {
  position: relative;
  //width: 100%;
  //height: 300px;
  overflow: hidden;
  padding-top: 65%;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    //min-width: 100%;
    //min-height: 100%;
    //width: auto;
  }
}

.card-body {
  padding: 12px;
}

.card-text {
  letter-spacing: 0.1em;
  line-height: 1.5em; //改行隙間
  overflow: hidden;
	width: 100%;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.button {
    display: block;
    margin: 0 0 0 auto;
}

.none {
    display: none;
}

/*
.card-img{
  width: 100%;
  height: 300px;
  object-fit: contain;
}
*/