$ipad-width: 768px; //iPad以上の時
@mixin media-query($device) {
  @media screen and (min-width: $device) {
      @content;
  }
}

.page-title {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  @include media-query($ipad-width){
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  margin: 0;
  letter-spacing: 3px;
}

.form-group {
    margin: 20px 0 0 0;
}    
// 検索
input[type=search] {
	-webkit-appearance: none;
	display: inline-block;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 10px;
	width: 285px;
	@include media-query($ipad-width){
	    width: 300px;
	}
	height: 40px;
	font-size: 100%;
	box-sizing: border-box;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	border-right: none;
}

input[type=submit] {
	-webkit-appearance: none;
	display: inline-block;
	padding: 0 10px;
	color: #fff;
	width: 50px;
	height: 40px;
	font-size: 100%;
	vertical-align: top;
}

// 新規作成
.new {
  @include media-query($ipad-width){
    margin-top: 20px;
    margin-left: 251px;
  }
}
.content {
  width: 100%;
  flex-wrap: wrap; 
  @include media-query($ipad-width){
    display: flex; //並列
  }
}  

.card {
  background: #fff;
  width: 100%; 
  border: none;
  margin-bottom: 2%;
  @include media-query($ipad-width){
    width: 31.3%;//3分割
    margin-right: 3%;
    &:nth-child(3n) { //3枚目のカードだけ0に
    margin-right: 0;
    }
    &:nth-child(3n+1) {
      margin-right: 3%;
    }
  }
}

.card-img {
  position: relative;
  overflow: hidden;
  padding-top: 65%;
  img {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card-body {
  padding: 12px;
}

.card-text {
  letter-spacing: 0.1em;
  line-height: 1.5em; //改行隙間
  overflow: hidden;
	width: 100%;
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.paginate {
	margin: 0 auto;
}

.no_image1 {
    background-image: url('storage/image/no_image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -25px;
    left: 0px;
    height: 300px;
    width: 100%;
    .caption {
      text-align: center;
      width: inherit;
      font-size: 25px;
      position: absolute;
      top: 82%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 0;
      color: black;
    }
}