$ipad-width: 768px; //iPad以上の時
@mixin media-query($device) {
  @media screen and (min-width: $device) {
      @content;
  }
}

.page-title {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  @include media-query($ipad-width){
    font-size: 40px;
    text-align: center;
  }
  margin-left: 10px;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  .btn {
    margin: 0 0 0 auto;
  }
}