html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
img,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

ul ul {
  margin: 0;
}

table {
  border-spacing: 0;
  table-layout: fixed;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}

#app {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 80px;
}

#navbarNav4 {
  padding: 5px;
}

.navbar {
  height: 64px;
  padding: 0;
}

.navbar-toggler {
  margin-left: 7px;
  margin-top: 7px;
}

.nav-item {
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

#Right-navbar {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.4em;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 768px) {
  #Right-navbar {
    right: 300px;
  }
}

.dropdown-menu.rightnav {
  position: absolute;
  top: 90%;
  right: 30px;
  z-index: 1000;
  display: none;
  float: left;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.9rem;
  color: #212529;
  text-align: center;
  list-style: none;
}

.dropdown-menu.rightnav.show {
  background-color: #343a40;
  height: 40px;
  border: none;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .dropdown-menu.rightnav.show {
    padding-right: 0;
  }
}

a.dropdown-item.rightnav {
  float: right;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  padding: 0;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

li.nav-item.dropdown.show {
  position: absolute;
  right: -36px;
}

@media screen and (min-width: 768px) {
  li.nav-item.dropdown.show {
    right: 0;
  }
}

a#navbarDropdown {
  margin-left: 30px;
}

.wrapper {
  padding-top: 64px;
}

footer {
  width: 100%;
  background-color: #cdcdcd;
  position: absolute;
  bottom: 0;
}

footer .text-muted {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.btn {
  margin: 0 5px 5px 0;
}

