@charset "UTF-8";

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}

.jumbotron-extend {
  background: url(/images/top_image.jpg?729a7ec2167dc217b20d01cc9dbccdd8) no-repeat center center;
  background-size: cover;
}

.site-name {
  font-size: 90pt;
  color: #14e64b;
  font-style: italic;
  font-weight: bold;
  opacity: 0.8;
  text-shadow: 0 5px 5px black;
  font-family: "Times New Roman", serif;
}

.page-title {
  font-size: 40px;
  font-style: italic;
  font-family: "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", serif;
}

.py-4 {
  flex: 1;
}

footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #cdcdcd;
  text-align: center;
}

footer .text-muted {
  margin: 20px;
}

.btn {
  margin: 5px;
}

.header .logo {
  width: 120px;
  height: 82px;
}

.headline .caption {
  position: relative;
  width: 350px;
}

.headline .caption .image img {
  width: 100%;
}

.headline .caption .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.headline .caption .title h1 {
  color: #fff;
  font-size: 1.2em;
}

.headline .caption .body {
  font-size: 0.8em;
}

.posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

.posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 250px;
}

