.page-title {
  font-family: "Times New Roman", serif;
  font-size: 20px;
  margin: 0;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.form-group {
  margin-top: 20px 0 0 0;
}

input[type=search] {
  -webkit-appearance: none;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 10px;
  width: 285px;
  height: 40px;
  font-size: 100%;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  border-right: none;
}

@media screen and (min-width: 768px) {
  input[type=search] {
    width: 300px;
  }
}

input[type=submit] {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  width: 50px;
  height: 40px;
  font-size: 100%;
  vertical-align: top;
  border: none;
  border-radius: 0 5px 5px 0;
}

