.page-title {
  font-family: "Times New Roman", serif;
  font-size: 25px;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 40px;
    text-align: center;
  }
}

label {
  font-size: 16px;
  margin: 0;
}

.title {
  margin: 0;
  border-bottom: 1px groove;
}

.user_card {
  border: 1px groove;
  border-radius: 3px;
}

.card-header {
  font-size: 18px;
}

.item {
  height: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px groove;
}

.item .text {
  margin-bottom: 5px;
}

.item p {
  font-size: 16px;
  margin: 0 auto;
}

.user_post {
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .user_post {
    display: flex;
  }
}

.card {
  background: #fff;
  width: 100%;
  border: none;
  margin-bottom: 2%;
}

@media screen and (min-width: 768px) {
  .card {
    width: 31.3%;
    margin-right: 3%;
  }

  .card:nth-child(3n) {
    margin-right: 0;
  }

  .card:nth-child(3n+1) {
    margin-right: 3%;
  }
}

.card-img {
  position: relative;
  overflow: hidden;
  padding-top: 65%;
}

.card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  padding: 12px;
}

.card-text {
  letter-spacing: 0.1em;
  line-height: 1.5em;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.paginate {
  margin: 0 auto;
}

.no_image1 {
  background-image: url(/images/no_image.jpg?197d3fc5a95de1c17f2f2606c9e43a85);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -25px;
  left: 0px;
  height: 300px;
  width: 100%;
}

.no_image1 .caption {
  text-align: center;
  width: inherit;
  font-size: 25px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: black;
}

