@charset "UTF-8";

.span .time {
  float: right;
}

.body {
  clear: left;
}

.image {
  float: right;
}

.back {
  clear: right;
}

button {
  display: inline-block;
  border-radius: 5%;
  /* 角丸       */
  font-size: 9pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 12px 12px;
  /* 余白       */
  background: #ff007f;
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  transition: 0.3s;
  /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666;
  /* 影の設定 */
  border: 2px solid #ff007f;
  /* 枠の指定 */
}

button:hover {
  box-shadow: none;
  /* カーソル時の影消去 */
  color: #ff007f;
  /* 背景色     */
  background: #ffffff;
  /* 文字色     */
}

